* {
    font-family: 'Lato', sans-serif;

}

/* common shared styles */
.primary-btn {
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    font-size: 45px;
    color: #272727;
    font-weight: 900;
}

.logo-clr {
    color: #E55473;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #272727;
    font-size: 18px;
}

nav li:hover {
    color: #E55473;

}

/* header related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
}

/* banner related styles */

.banner {
    display: flex;
    padding: 0px 240px;
    align-items: center;
    justify-content: space-between;

}

.banner-text {
    max-width: 708px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.banner .banner-image {
    width: 635px;

}

/* Featured section styles */

.featured-text {
    text-align: center;
    margin-top: 178px;
    margin-bottom: 48px;
}

.f-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.f-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.rect-img {
    display: flex;
    justify-content: center;

}

.rect-1 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    background: #A7216226;
    border-radius: 300px 300px 0px 0px;
    margin-right: 24px;
}

.rect-2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-right: 24px;
}

.rect-3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* .featured-img-1 {

    display: grid;
    place-items: bottom;
    /* position: absolute;
    bottom: 0px; */
/* vertical-align: text-bottom; */

/* Delivery support section */
.delivery-section {
    margin: 128px 0px;
}

.delivery {
    max-width: 1440px;
    height: 240px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.menu-1 {

    text-align: center;
}

.menu-2 {

    text-align: center;
}

.menu-3 {
    text-align: center;
}

/* sectio-4 promotion styles */

.section-4 {
    max-width: 1922px;
    min-height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(221, 14, 59, 0.05);
}

.promotion-text {

    text-align: center;
    margin-right: 186px;
}

.promo-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.promo-title-color {
    color: #E55473;
}

.promo-description {
    max-width: 594px;
    max-height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: -16px;

}

/* footer-box style */

.footer-box {
    display: flex;
    background: #111010;
    color: #ffffff;
    max-width: 1922px;
    height: 449px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-clr {
    color: #E55473;

}

.footer-title {
    color: #ffffff;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-description {
    max-width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.footer-text {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}

/* section-5-insta styles */

.section-5 {}

.instagram-text {
    text-align: center;
    margin-top: 128px;
}

.ins-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.ins-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;

}

.instagram-img {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

/* section-6 styles */

.section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    height: 449px;
    margin: 128px 240px;
    border-radius: 8px;
}