* {
    margin: 0px;
    padding: 0px;
    max-width: 1920px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header items */
.header-container {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: rgb(233, 233, 233);
    justify-content: space-around;
}

.logo-i {          
    width: 100px;
}

.nav-items {
    display: flex;
    padding: 10px;
    list-style-type: none;


}

.nav-menu-item {
    margin-right: 10px;
    padding-right: 5px;
    font-size: 18px;
}

.banner-main {
    background-color: rgba(229, 84, 115, 0.10);
    max-width: 1440px;

}

.button-all {
    padding: 10px 20px;
    background-color: orange;
    border: 1px;
    border-radius: 3px;
    font-size: 18px;
}

/* Main-banner */

.banner-container {
    display: flex;
    justify-content: space-around;
}
    /* display: flex;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
} */
.banner-image-1 {
    width: 300px;
    
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 100vh;
    

}